Answer 1. Wikipedia Header Tag

In [2]:
# Add Libraries 
import pandas as pd
import requests
from bs4 import BeautifulSoup


# Get the HTML content of the Wikipedia.org homepage
webpage = requests.get('https://en.wikipedia.org/wiki/Main_Page').content
soup = BeautifulSoup(webpage, 'lxml')

header=soup.find_all(['h1','h2','h3','h4','h5','h6'])
HeaderTag = []
for tag in header:
    HeaderTag.append(tag.text)

df=pd.DataFrame({'HeaderTag':HeaderTag})
df

                       HeaderTag
0                      Main Page
1           Welcome to Wikipedia
2  From today's featured article
3               Did you know ...
4                    In the news
5                    On this day
6       Today's featured picture
7       Other areas of Wikipedia
8    Wikipedia's sister projects
9            Wikipedia languages

Answer 2. IMDB Top 50 Movies

In [3]:
# include libraries 
import pandas as pd 
import requests
from bs4 import BeautifulSoup


#Send a request to the URL and get the HTML content
webpage = requests.get('https://www.imdb.com/list/ls055386972/').content
soup = BeautifulSoup(webpage, 'lxml')


# Find all the movie titles, ratings and years of release
name=[]
rating=[]
Year_of_release=[]

movies = soup.find_all('div',class_='lister-item-content')

for i in movies:
    name.append(i.find('a').text)
    rating.append(i.find('span', class_='ipl-rating-star__rating').text)
    Year_of_release.append(i.find('span', class_='lister-item-year text-muted unbold').text)
    
    
d = {'name':name, 'rating':rating,'Year_of_release':Year_of_release }    
    
df = pd.DataFrame(d)
df

                                    name rating Year_of_release
0                          The Godfather    9.2          (1972)
1                       Schindler's List      9          (1993)
2                           12 Angry Men      9          (1957)
3                        La vita è bella    8.6          (1997)
4        Il buono, il brutto, il cattivo    8.8          (1966)
5               The Shawshank Redemption    9.3          (1994)
6               The Pursuit of Happyness      8          (2006)
7                   Shichinin no samurai    8.6          (1954)
8                       The Intouchables    8.5          (2011)
9                      Central do Brasil      8          (1998)
10                   Requiem for a Dream    8.3          (2000)
11                      A Beautiful Mind    8.2          (2001)
12                   Hachi: A Dog's Tale    8.1          (2009)
13                                 Taken    7.8      (I) (2008)
14                  Yeopgijeogin geunyeo      8          (2001)
15                         Amores perros    8.1          (2000)
16                           The Shining    8.4          (1980)
17                            Apocalypto    7.8          (2006)
18                             Gladiator    8.5          (2000)
19                             Cast Away    7.8          (2000)
20                       The Dark Knight      9          (2008)
21                           The Pianist    8.5          (2002)
22                               Titanic    7.9          (1997)
23                               Bin-jip    7.9          (2004)
24                            Braveheart    8.4          (1995)
25                 It's a Wonderful Life    8.6          (1946)
26  Bom yeoreum gaeul gyeoul geurigo bom      8          (2003)
27                                 Alien    8.5          (1979)
28                        Salinui chueok    8.1          (2003)
29                        Vozvrashchenie    7.9          (2003)
30                  Ang-ma-reul bo-at-da    7.8          (2010)
31                     Bacheha-Ye aseman    8.2          (1997)
32               Jodaeiye Nader az Simin    8.3          (2011)
33                       The Sixth Sense    8.2          (1999)
34               Nae meorisokui jiwoogae    8.1          (2004)
35                             Okuribito      8          (2008)
36                   Wo de fu qin mu qin    7.8          (1999)
37                   Saving Private Ryan    8.6          (1998)
38          The Bridge on the River Kwai    8.1          (1957)
39                               Ben-Hur    8.1          (1959)
40                          The Exorcist    8.1          (1973)
41                El secreto de sus ojos    8.2          (2009)
42                                  Léon    8.5          (1994)
43                        The Green Mile    8.6          (1999)
44                           Gran Torino    8.1          (2008)
45                     Kill Bill: Vol. 1    8.2          (2003)
46                         Jurassic Park    8.2          (1993)
47            Terminator 2: Judgment Day    8.6          (1991)
48                    Back to the Future    8.5          (1985)
49                          Finding Nemo    8.2          (2003)

Answer 3. IMDB Top 50 Indian Movies

In [4]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

Webpage = requests.get('https://www.imdb.com/list/ls058711268/').content
soup = BeautifulSoup(Webpage,'lxml')

name=[]
rating=[]
Year_of_release=[]

movies = soup.find_all('div',class_='lister-item-content')

for i in movies:
    name.append(i.find('a').text)
    rating.append(i.find('span', class_='ipl-rating-star__rating').text)
    Year_of_release.append(i.find('span', class_='lister-item-year text-muted unbold').text)
    
    
d = {'name':name, 'rating':rating,'Year_of_release':Year_of_release }    
    
df = pd.DataFrame(d)
df

                                  name rating Year_of_release
0                             3 Idiots    8.4          (2009)
1                             Drishyam    8.2          (2015)
2                          Mohabbatein      7          (2000)
3             Zindagi Na Milegi Dobara    8.2          (2011)
4                       Dil Chahta Hai    8.1          (2001)
5                   Bhaag Milkha Bhaag    8.2          (2013)
6                      Rang De Basanti    8.1          (2006)
7                       Chak De! India    8.1          (2007)
8    Lagaan: Once Upon a Time in India    8.1          (2001)
9                          A Wednesday    8.1          (2008)
10                          Jab We Met    7.9          (2007)
11             Yeh Jawaani Hai Deewani    7.2          (2013)
12                     OMG: Oh My God!    8.1          (2012)
13                          Raanjhanaa    7.6          (2013)
14                            Rockstar    7.7          (2011)
15                       Kal Ho Naa Ho    7.9          (2003)
16                         Vicky Donor    7.8          (2012)
17             Jaane Tu... Ya Jaane Na    7.4          (2008)
18                    Taare Zameen Par    8.3          (2007)
19                               Udaan    8.1          (2010)
20         Kabhi Khushi Kabhie Gham...    7.4          (2001)
21                             Highway    7.6      (I) (2014)
22              Swades: We, the People    8.2          (2004)
23                 Munna Bhai M.B.B.S.    8.1          (2003)
24                Lage Raho Munna Bhai      8          (2006)
25              Golmaal: Fun Unlimited    7.4          (2006)
26                         Delhi Belly    7.5          (2011)
27                               Dhoom    6.6          (2004)
28                           Raajneeti    7.1          (2010)
29                  Gangs of Wasseypur    8.2          (2012)
30                               Style    6.7          (2001)
31                     Special Chabbis      8          (2013)
32                             Dostana    6.5          (2008)
33                     Namastey London    7.1          (2007)
34                             Fashion    6.9          (2008)
35                     My Name Is Khan    7.9          (2010)
36                         Wake Up Sid    7.6          (2009)
37  Rocket Singh: Salesman of the Year    7.5          (2009)
38                            2 States    6.9          (2014)
39                        Jodhaa Akbar    7.5          (2008)
40           ABCD (Any Body Can Dance)    6.3          (2013)
41               Kaho Naa... Pyaar Hai    6.9          (2000)

Answer 4. Presidents Lists

In [5]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re

url='https://presidentofindia.nic.in/former-presidents.htm'
response= requests.get(url).content
soup= BeautifulSoup(response,'lxml')

data=soup.find_all('div',class_='presidentListing')

Name=[]
for i in data:
    Name.append(i.find('h3').text)
    
Terms=[]
for i in data:
    Terms.append(i.find_all('p')[0].text)
   

pattern = r'\d+\s+\w+,\s+\d+'
Term_of_office=[]
for term in Terms:
    matches = re.findall(pattern, term)
    if matches:
        Term_of_office.append(matches)
    else:
        Term_of_office.append("No dates found.")

dic={'Name':Name,'Term_of_office':Term_of_office}
df= pd.DataFrame(dic)
df

,Name,Term_of_office
0,Shri Ram Nath Kovind (birth - 1945),"[25 July, 2017, 25 July, 2022]"
1,Shri Pranab Mukherjee (1935-2020),"[25 July, 2012, 25 July, 2017]"
2,Smt Pratibha Devisingh Patil (birth - 1934),"[25 July, 2007, 25 July, 2012]"
3,DR. A.P.J. Abdul Kalam (1931-2015),"[25 July, 2002, 25 July, 2007]"
4,Shri K. R. Narayanan (1920 - 2005),"[25 July, 1997, 25 July, 2002]"
5,Dr Shankar Dayal Sharma (1918-1999),"[25 July, 1992, 25 July, 1997]"
6,Shri R Venkataraman (1910-2009),"[25 July, 1987, 25 July, 1992]"
7,Giani Zail Singh (1916-1994),"[25 July, 1982, 25 July, 1987]"
8,Shri Neelam Sanjiva Reddy (1913-1996),"[25 July, 1977, 25 July, 1982]"
9,Dr. Fakhruddin Ali Ahmed (1905-1977),"[24 August, 1974, 11 February, 1977]"
10,Shri Varahagiri Venkata Giri (1894-1980),"[3 May, 1969, 20 July, 1969, 24 August, 1969, ..."
11,Dr. Zakir Husain (1897-1969),"[13 May, 1967, 3 May, 1969]"
12,Dr. Sarvepalli Radhakrishnan (1888-1975),"[13 May, 1962, 13 May, 1967]"
13,Dr. Rajendra Prasad (1884-1963),"[26 January, 1950, 13 May, 1962]"

Answer 5(a). Top 10 ODI Teams

In [6]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Define the URLs for the rankings
teams_url = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'
response = requests.get(teams_url)
soup = BeautifulSoup( response.text ,'lxml')

rows = soup.tbody.find_all('tr')

data=[]
for row in rows:
    cells=row.find_all('td')
    row_data=[]
    for cell in cells:
        row_data.append(cell.text.strip())
    data.append(row_data)    
    
Team_df = pd.DataFrame(data[:10],columns=['Position','Team','Matches','Points','Rating'])
print('\n Top 10 ODI teams \n',Team_df)

 Top 10 ODI teams
   Position              Team Matches Points Rating
0        1     Pakistan\nPAK      29  3,291    113
1        2    Australia\nAUS      35  3,965    113
2        3        India\nIND      47  5,294    113
3        4      England\nENG      36  3,988    111
4        5   New Zealand\nNZ      35  3,740    107
5        6  South Africa\nSA      31  3,141    101
6        7   Bangladesh\nBAN      38  3,625     95
7        8     Sri Lanka\nSL      36  3,099     86
8        9   West Indies\nWI      43  3,105     72
9       10  Afghanistan\nAFG      20  1,419     71

Answer 5(b). Top 10 Men ODI Batsmen

In [7]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting'

response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

table = soup.find('table',{'class':'table rankings-table'})

rows = table.find_all('tr')

Player_names=[]
Team_name=[]
Rating=[]
for row in rows[1:11]:
    cells= row.find_all('td')
    player = cells[1].text.strip()
    Player_names.append(player)
    team= cells[2].text.strip()
    Team_name.append(team)
    rating=cells[3].text.strip()
    Rating.append(rating)
    
    
df=pd.DataFrame({'Player_Names':Player_names,'Team_Names':Team_name,'Rating':Rating})
print("\n Top 10 Mens ODI Batsmen \n", df)

 Top 10 Mens ODI Batsmen
             Player_Names Team_Names Rating
0             Babar Azam        PAK    887
1           Fakhar Zaman        PAK    784
2  Rassie van der Dussen         SA    777
3           Shubman Gill        IND    738
4            Imam-ul-Haq        PAK    737
5           David Warner        AUS    726
6            Virat Kohli        IND    719
7        Quinton de Kock         SA    718
8           Rohit Sharma        IND    707
9            Steve Smith        AUS    702

Answer 5(c). Top 10 ODI Bowlers

In [9]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"


response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
table = soup.find('table',{'class':'table rankings-table'})
rows = table.find_all('tr')

Player_names=[]
Team_name=[]
Rating=[]
for row in rows[1:11]:
    cells= row.find_all('td')
    player = cells[1].text.strip()
    Player_names.append(player)
    team= cells[2].text.strip()
    Team_name.append(team)
    rating=cells[3].text.strip()
    Rating.append(rating)
    
    
df=pd.DataFrame({'Player_Names':Player_names,'Team_Names':Team_name,'Rating':Rating})
print('\n Top 10  ODI bowlers\n',df)

 Top 10  ODI bowlers
        Player_Names Team_Names Rating
0    Josh Hazlewood        AUS    705
1    Mohammed Siraj        IND    691
2    Mitchell Starc        AUS    686
3       Trent Boult         NZ    680
4        Matt Henry         NZ    666
5       Rashid Khan        AFG    659
6        Adam Zampa        AUS    652
7  Mujeeb Ur Rahman        AFG    637
8   Shakib Al Hasan        BAN    636
9    Shaheen Afridi        PAK    632

Answer 6(a). Top 10 ODI Women Teams

In [10]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Define the URLs for the rankings
teams_url = 'https://www.icc-cricket.com/rankings/womens/team-rankings/odi'
response = requests.get(teams_url)
soup = BeautifulSoup( response.text ,'lxml')

rows = soup.tbody.find_all('tr')

data=[]
for row in rows:
    cells=row.find_all('td')
    row_data=[]
    for cell in cells:
        row_data.append(cell.text.strip())
    data.append(row_data)    
    
Team_df = pd.DataFrame(data[:10],columns=['Position','Team','Matches','Points','Rating'])
print('\n Top 10 ODI teams \n',Team_df)

 Top 10 ODI teams
   Position              Team Matches Points Rating
0        1    Australia\nAUS      21  3,603    172
1        2      England\nENG      28  3,342    119
2        3  South Africa\nSA      26  3,098    119
3        4        India\nIND      27  2,820    104
4        5   New Zealand\nNZ      25  2,553    102
5        6   West Indies\nWI      27  2,535     94
6        7   Bangladesh\nBAN      13    983     76
7        8     Thailand\nTHA      11    821     75
8        9     Pakistan\nPAK      27  1,678     62
9       10     Sri Lanka\nSL       8    353     44

Answer 6(b). Top 10 ODI Batting Women

In [11]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting'

response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

table = soup.find('table',{'class':'table rankings-table'})

rows = table.find_all('tr')

Player_names=[]
Team_name=[]
Rating=[]
for row in rows[1:11]:
    cells= row.find_all('td')
    player = cells[1].text.strip()
    Player_names.append(player)
    team= cells[2].text.strip()
    Team_name.append(team)
    rating=cells[3].text.strip()
    Rating.append(rating)
    
    
df=pd.DataFrame({'Player_Names':Player_names,'Team_Names':Team_name,'Rating':Rating})
print("\n Top 10 Women ODI Batting \n", df)

 Top 10 Women ODI Batting
           Player_Names Team_Names Rating
0         Alyssa Healy        AUS    762
1          Beth Mooney        AUS    754
2      Laura Wolvaardt         SA    732
3       Natalie Sciver        ENG    731
4          Meg Lanning        AUS    717
5     Harmanpreet Kaur        IND    716
6      Smriti Mandhana        IND    714
7  Chamari Athapaththu         SL    665
8    Amy Satterthwaite         NZ    641
9         Ellyse Perry        AUS    626

Answer 6(c). Top 10 Women ODI All-Rounder

In [12]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder"

response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
table = soup.find('table',{'class':'table rankings-table'})
rows = table.find_all('tr')

Player_names=[]
Team_name=[]
Rating=[]
for row in rows[1:11]:
    cells= row.find_all('td')
    player = cells[1].text.strip()
    Player_names.append(player)
    team= cells[2].text.strip()
    Team_name.append(team)
    rating=cells[3].text.strip()
    Rating.append(rating)
    
    
df=pd.DataFrame({'Player_Names':Player_names,'Team_Names':Team_name,'Rating':Rating})
print('\n Top 10 Womens ODI all-rounder\n',df)

 Top 10 Womens ODI all-rounder
         Player_Names Team_Names Rating
0    Hayley Matthews         WI    373
1     Natalie Sciver        ENG    371
2       Ellyse Perry        AUS    366
3     Marizanne Kapp         SA    349
4        Amelia Kerr         NZ    336
5      Deepti Sharma        IND    322
6   Ashleigh Gardner        AUS    292
7      Jess Jonassen        AUS    250
8           Nida Dar        PAK    232
9  Sophie Ecclestone        ENG    205

Answer 7. Headline

In [13]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Define the URLs for the rankings
url = 'https://www.cnbc.com/world/?region=world'
response = requests.get(url).content
soup = BeautifulSoup( response ,'lxml')

data=soup.find_all('div',class_='RiverPlusCard-cardLeft')

Headline=[]
for i in data:
    Headline.append(i.find('a').text)
    
time=[]
for i in data:
    if i is not None:
        time.append(i.find('span',class_='RiverByline-datePublished'))
    else:
        time.append(print('None'))
         
Time=[]
for element in time:
    if element is not None:
        Time.append(element.text)
    else:
        Time.append(element)

News_Link=[]
for i in data:
    News_Link.append(i.find('a')['href'])
    
dic={"Headline":Headline,"Time":Time,"News_Link":News_Link}
df=pd.DataFrame(dic)
df

,Headline,Time,News_Link
0,Warren Buffett says letting Silicon Valley Ban...,41 min ago,https://www.cnbc.com/2023/05/06/warren-buffett...
1,Dow jumps 500 points to break four-day losing ...,None,https://www.cnbc.com/2023/05/04/stock-market-t...
2,,4 hours ago,/pro/
3,Berkshire operating earnings increase 12% in t...,4 hours ago,https://www.cnbc.com/2023/05/06/berkshire-hath...
4,Buffett explains value investing: 'What gives ...,41 min ago,https://www.cnbc.com/2023/05/06/buffett-explai...
5,"Job growth totals 253,000 in April, beating ex...",None,https://www.cnbc.com/2023/05/05/jobs-report-ap...
6,Apple posts record quarter in India; analyst s...,None,https://www.cnbc.com/2023/05/05/apple-posts-re...
7,What Chile's state-led lithium policy means fo...,6 hours ago,https://www.cnbc.com/2023/05/06/chile-state-le...
8,,None,/pro/
9,Sudan on edge as warring parties to hold talks,None,https://www.cnbc.com/2023/05/06/sudan-on-edge-...
10,Threat of TikTok ban has creators scrambling t...,5 hours ago,https://www.cnbc.com/2023/05/06/threat-of-tikt...
11,Here's where the U.S. jobs are for April 2023 ...,None,https://www.cnbc.com/2023/05/05/heres-where-th...
12,WHO declares end to Covid-19 global public hea...,None,https://www.cnbc.com/2023/05/05/who-declares-e...
13,Scope Ratings places U.S. credit ratings under...,None,https://www.cnbc.com/2023/05/06/scope-ratings-...
14,SEC issues largest ever whistleblower award of...,None,https://www.cnbc.com/2023/05/06/sec-issues-lar...
15,Ukraine downs Russian hypersonic missile with ...,None,https://www.cnbc.com/2023/05/06/ukraine-downs-...
16,PacWest stock jumps 80% as regional banks rebo...,None,https://www.cnbc.com/2023/05/05/regional-bank-...
17,Warren Buffett's successor Greg Abel is wooing...,None,https://www.cnbc.com/2023/05/05/warren-buffett...

Answer 8. AI 90 Days Most Search

In [14]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Define the URLs for the rankings
url = 'https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles'
response = requests.get(url).content
soup = BeautifulSoup( response ,'lxml')


data=soup.find_all('article')

Paper_title=[]
for i in data:
    Paper_title.append(i.find('h2').text)
    
Authors=[]
for i in data:
    Authors.append(i.find('span',class_='sc-1w3fpd7-0 dnCnAO').text)
    
Published_date=[]
for i in data:
    Published_date.append(i.find('span',class_='sc-1thf9ly-2 dvggWt').text)
    
Paper_url = []
for i in data:
    Paper_url.append(i.find('a')['href'])
    
dic = {'Paper_Title':Paper_title,'Authors':Authors,'Published_date':Published_date,'Paper_url':Paper_url}
df=pd.DataFrame(dic)
df

,Paper_Title,Authors,Published_date,Paper_url
0,Reward is enough,"David Silver, Satinder Singh, Doina Precup, Ri...",October 2021,https://www.sciencedirect.com/science/article/...
1,Explanation in artificial intelligence: Insigh...,Tim Miller,February 2019,https://www.sciencedirect.com/science/article/...
2,Creativity and artificial intelligence,Margaret A. Boden,August 1998,https://www.sciencedirect.com/science/article/...
3,Conflict-based search for optimal multi-agent ...,"Guni Sharon, Roni Stern, Ariel Felner, Nathan ...",February 2015,https://www.sciencedirect.com/science/article/...
4,Knowledge graphs as tools for explainable mach...,"Ilaria Tiddi, Stefan Schlobach",January 2022,https://www.sciencedirect.com/science/article/...
5,Law and logic: A review from an argumentation ...,"Henry Prakken, Giovanni Sartor",October 2015,https://www.sciencedirect.com/science/article/...
6,Explaining individual predictions when feature...,"Kjersti Aas, Martin Jullum, Anders Løland",September 2021,https://www.sciencedirect.com/science/article/...
7,Between MDPs and semi-MDPs: A framework for te...,"Richard S. Sutton, Doina Precup, Satinder Singh",August 1999,https://www.sciencedirect.com/science/article/...
8,Evaluating XAI: A comparison of rule-based and...,"Jasper van der Waa, Elisabeth Nieuwburg, Anita...",February 2021,https://www.sciencedirect.com/science/article/...
9,Multiple object tracking: A literature review,"Wenhan Luo, Junliang Xing and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
10,A survey of inverse reinforcement learning: Ch...,"Saurabh Arora, Prashant Doshi",August 2021,https://www.sciencedirect.com/science/article/...
11,Explaining black-box classifiers using post-ho...,"Eoin M. Kenny, Courtney Ford, Molly Quinn, Mar...",May 2021,https://www.sciencedirect.com/science/article/...
12,Hard choices in artificial intelligence,"Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz",November 2021,https://www.sciencedirect.com/science/article/...
13,The Hanabi challenge: A new frontier for AI re...,"Nolan Bard, Jakob N. Foerster and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
14,Explainable AI tools for legal reasoning about...,"Joe Collenette, Katie Atkinson, Trevor Bench-C...",April 2023,https://www.sciencedirect.com/science/article/...
15,Artificial cognition for social human–robot in...,"Séverin Lemaignan, Mathieu Warnier and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
16,Wrappers for feature subset selection,"Ron Kohavi, George H. John",December 1997,https://www.sciencedirect.com/science/article/...
17,Making sense of raw input,"Richard Evans, Matko Bošnjak and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
18,What do we want from Explainable Artificial In...,"Markus Langer, Daniel Oster and 6 more",July 2021,https://www.sciencedirect.com/science/article/...
19,Assessing the communication gap between AI mod...,"Oskar Wysocki, Jessica Katharine Davies and 5 ...",March 2023,https://www.sciencedirect.com/science/article/...
20,The multifaceted impact of Ada Lovelace in the...,Luigia Carlucci Aiello,June 2016,https://www.sciencedirect.com/science/article/...
21,A review of possible effects of cognitive bias...,"Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkranz",June 2021,https://www.sciencedirect.com/science/article/...
22,Selection of relevant features and examples in...,"Avrim L. Blum, Pat Langley",December 1997,https://www.sciencedirect.com/science/article/...
23,Planning and acting in partially observable st...,"Leslie Pack Kaelbling, Michael L. Littman, Ant...",May 1998,https://www.sciencedirect.com/science/article/...

Answer 9. Dineout List of Hotels

In [16]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Define the URLs for the rankings
url = 'https://www.dineout.co.in/delhi-restaurants/buffet-special'
webpage = requests.get(url).content
soup = BeautifulSoup( webpage ,'lxml')


Resturant=soup.find_all('div', class_='restnt-main-wrap clearfix')

Resturant_Name = []
for i in Resturant:
        Resturant_Name.append(i.find('a').text)

cuisines = soup.find_all('span',{'class':'double-line-ellipsis'})

Cuisines=[]
for i in cuisines:
    Cuisines.append(i.find('a').text)
                        
location = soup.find_all('div',class_='restnt-loc ellipsis')
                        
Location = []
for i in location:
    Location.append(i.find('a').text)
                        
rating = soup.find_all('div', class_='restnt-rating rating-4')
                        
Rating =[]
for i in rating:
    Rating.append(i.text)
                        
image = soup.find_all('img', class_='no-img')
                        
Image_url = []
for i in image:
    Image_url.append(i['data-src'])
                        
dicto={"Resturant_Name":Resturant_Name,"Cuisines":Cuisines,"Location":Location,"Rating":Rating,"Image_url":Image_url}
df=pd.DataFrame(dicto)
df

,Resturant_Name,Cuisines,Location,Rating,Image_url
0,Castle Barbeque,Chinese,Connaught Place,4,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,North Indian,"3CS Mall,",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Cafe Knosh,Italian,"The Leela Ambience Convention Hotel,",4.3,https://im1.dineout.co.in/images/uploads/resta...
3,Castle's Barbeque.,Chinese,"Pacific Mall,",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,North Indian,"Gardens Galleria,",3.9,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,North Indian,"Hilton Garden Inn,",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,North Indian,"Suncity Business Tower,",4.3,https://im1.dineout.co.in/images/uploads/resta...